
.backScreenContainer {
  background-color: black;
  color: white; 
  

  background-attachment: fixed;
  position:absolute;
  top: 0;
  left: 0;
}

.backScreenContainer table{
      border: solid #005f5f 5px;
  
}


.backScreenBackgound {
    position:absolute;
    top: 0px;
    left: 0px;
	background-color: black;
	
	width: 100vw;
	height: 100vh;
}

.backScreenContainer .nav button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  background: #005f5f;
  padding: 20px 25px 20px 25px;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 20px;
}

.backScreenContainer h1{
   padding-top: 20px;
   text-shadow: 4px 4px #005f5f;
   font-size: 80px;
   color: #fff;
    float: center;
    padding-right: 150px;
}

.backScreenContainer td{
	text-align: center;
	vertical-align: center;
	width: 200px; 
	height: 50px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 23px;
	border: 5px solid #005f5f;
  white-space: pre; 
}

.backScreenContainer .items{
	text-align: center;
	vertical-align: center;
	width: 200px; 
	height: 50px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align:left;
	font-size: 18px;
	border: 5px solid #005f5f;
  white-space: pre; 
}

.backScreenContainer .titles th{
	width: 200px; 
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	border: 5px solid #005f5f;
}




