.pseudoMenuContainer {
    position:absolute;
    top: 0px;
    left: 0px;
	background-color: black;
	color: white;
	width: 100vw;
	height: 100vh;
	
	overflow:hidden;
}



.pseudoMenuContainer ul {
  color: white;
  list-style-type: none;
  display: table;
  margin: 0 auto;
  border: 0px;
  text-align: left; 
}

.pseudoMenuContainer table{
	border-collapse:collapse;
}


.pseudoMenuContainer .titles th{
	font-size: 25px;
	border: 5px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
}


.pseudoMenuContainer th{
	width: 250px;
	font-size: 15px;
	
}

.pseudoMenuContainer .flavMix th{
}

.pseudoMenuContainer .nav button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #005f5f;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 20px;
}


.pseudoMenuContainer .submit{
  text-align: center;
  font-family: OpenSans;
  color: white;
  font-size: 20px;
  background: #bf7148;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  
  padding: 10px 20px 10px 20px;
  border: solid white 3px;
  font-weight:bolder;
}
