.pseudoMenuContainer ul {
  color: black;
  list-style-type: none;
  display: table;
  margin: 0 auto;
  
  text-align: left; 
}

.pseudoMenuContainer th{
	width: 250px;
	font-size: 15px;

}

.pseudoMenuContainer button{
	text-align: center;
  font-family: OpenSans;
  color: white;
  font-size: 15px;
  background: #bf7148;
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  border: solid white 3px;
  
  font-weight:bolder;
}