
.pseudoCheckContainer {
  background-image: url(/img/lg/loginLG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-weight: 500; 
  
 /* overflow: hidden; */
    position:absolute;
    width:100vw;
    top:0px;
	overflow-x:hidden;
    left:0px;
  
  text-align: center;
}

.pseudoCheckContainer h1{
  padding: 30px;
}


.pseudoCheckContainer .cout{
	margin-top: 25px;
}


.pseudoCheckContainer .cout .line{
  background: url(/img/checkMiddle.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 0px;
}

.pseudoCheckContainer .cout .line .rmBtn{
   position: absolute;
  display: inline;

}

.pseudoCheckContainer .cout .line .rmBtn .moveBtn{
   position: relative;
   right: 160px;
}


.pseudoCheckContainer .cout .line .itemz .moveItem{
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-align: left; 
  right: 20px; 
}



.pseudoCheckContainer .cout .line .itemz .mixins{
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-align: left; 
  left: 0px;
}

.pseudoCheckContainer .cout .line .price{
   position: absolute;    
   display: inline;
}

.pseudoCheckContainer .cout .line .price .movePrice{
  position: relative; 
  left: 100px; 
  z-index: 1;
  top: -20px;
}

.pseudoCheckContainer .cout .totalPrice{
	background: url(img/checkBottom.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0px;
}

.pseudoCheckContainer .cout .totalPrice .price{
	position: relative;
	left: 125px;
	top: -104px;
}


.pseudoCheckContainer .cout .miniText button{
    font-family: OpenSans;
    color: #ffffff;
    font-size: 25px;
    background: black;
    margin: 25px;
    padding: 15px 35px 15px 35px;
    border: solid black 3.5px;
    font-weight:bolder;
	cursor: default;
}

.pseudoCheckContainer .cout .bottom{
    background: black;
    margin: 25px;
    padding: 15px 35px 15px 35px;
    border: solid black 3.5px;
    font-weight:bolder;
	display: inline-block;
	cursor: default;
}


.pseudoCheckContainer .cout .bottom label{
    font-family: OpenSans;
    color: #ffffff;
    font-size: 25px;
}

.pseudoCheckContainer .cout .goButton{
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 20px;
  padding: 10px 80px 10px 80px;
  border: solid #005f5f 2px;
  font-weight:bolder;
}

.pseudoCheckContainer .cout .placeOrderBTN{
  font-family: OpenSans;
  color: white;
  font-size: 15px;
  background: #bf7148;
  margin: 20px;
  padding: 10px 60px 10px 66px;
  border: solid white 2px;
  font-weight:bolder;
  
  
  
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}

.pseudoCheckContainer .cout .backBTN{
  font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin: 20px;
  padding: 10px 100px 10px 75px;
  border: solid #005f5f 3px;
  font-weight:bolder;
}

.pseudoCheckContainer .cout .bevBTN{
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 20px;
  padding: 10px 70px 10px 70px;
  border: solid #005f5f 2px;
  font-weight:bolder;
}