/*@media only screen and (max-width: 650px) {
  .loginContainer {
    background-image: url(/img/sm/idkSM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  
    overflow: hidden;
    
    position:absolute;
    height:100vh;
    width:100vw;
 
    top:0px;
    left:0px;
  }
  
  .loginContainer img{
    max-width:600px;
    max-height:200px;
    width:325px;
  }
  
  .ftr img{
    width:55px;
  }
  
}
*/