.aboutcontainer {   
   color: white;
   text-align:center;
} 


.aboutcontainer .wrapper p {
   font-family: OpenSans;
   font-size: 15px;
   line-height: 20px;
    padding-top: 0px;
}


.aboutcontainer .wrapper {
   border: solid #005f5f 2px;
   background-color: rgba(0, 95, 95, .5);
   
     
    width:275px;
	margin-top:25px;
	
    margin-left:auto;
    margin-right:auto;
  
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.aboutcontainer button{
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 20px;
  padding: 10px 60px 10px 60px;
  border: solid #005f5f 2px;
}



@media (min-width: 500px) { 
	.aboutcontainer h1 {
		font-size:80px;
	}
	
	.aboutcontainer .wrapper { 
	    width:400px;
		margin-top:100px;
	
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.aboutcontainer button{
	  padding: 10px 94px 10px 94px;
	}
}