
.denied {
  color: white;
  text-align: center;
}

.denied button {
    text-align: center;
   font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
  border: solid white 3px;
  
  font-weight:bolder;
}

.denied img{
  margin-top: 75px;
}

@media (min-width: 500px) { 
	.denied img{
		max-width: 400px;
		max-height: auto;
	}
}