.deniedEmp {
  color: white;

  text-align: center;
}

.deniedEmp button {
    text-align: center;
   font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
  border: solid #005f5f 3px;
  
  font-weight:bolder;
}



.deniedEmp img{
  margin-top: 75px;
}

@media (min-width: 500px) { 
	.deniedEmp img{
		max-width: 400px;
		max-height: auto;
	}
}