.settingsContainer {
  color: #ffffff;
  text-align: center;
}

.settingsContainer h1{
	margin-top: 40px;
}

.settingsContainer input {
	height: 2em;
	color:black;
}

.settingsContainer button{
    font-family: OpenSans;
    color: #fff;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid white 2px;
    display: inline-block;
    position: relative;
    font-weight:bolder;
	margin-top:10px;
	margin-bottom:20px;
}

.settingsContainer .normal{
    font-family: OpenSans;
    color: #fff;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid white 2px;
    display: inline-block;
    position: relative;
    font-weight:bolder;
    margin-right: 10px;
    margin-left: 10px;
	margin-top:10px;
	margin-bottom:20px;
}

.settingsContainer .remove{
    font-family: OpenSans;
    color: white;
    font-size: 15px;
    background: red;
    padding: 10px 20px 10px 20px;
    border: solid red 2px;
    display: inline-block;
    position: relative;
    font-weight:bolder;
    margin-right: 10px;
    margin-left: 10px;
}

.settingsContainer .color{
	background: black;
	color:white;
    border: solid black 2px;
}

.settingsContainer form{
	display:none;
	margin-bottom: 0px;
}

.settingsContainer #notif{
	visibility:hidden;
	color:yellow;
}

.settingsContainer .delForm{
	display:none;
}