/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.loginContainer input {
	padding-top:12px;
	padding-bottom:12px;
}

.loginContainer .norm {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 15px;
	background-color:#005f5f ;
	border: solid white 2px;
	font-weight: bolder;
	
	text-align:center;
	
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
	padding-right: 12px;
	
	margin-right:10px;
	margin-left:10px;
}

.loginContainer .forgot {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 10px;
    background-color:#005f5f ;
    padding: 7px 10px 7px 10px;
    border: solid #005f5f 1px;
    font-weight:bolder;
}

.loginContainer #DELogo{
  max-width: 60px;
  max-height: 60px; 
}


.loginContainer #notifText{
	visibility: hidden;
    font-family: OpenSans;
	color: yellow;
	font-weight: bolder;
	font-size: 15px;
}

@media (min-width: 500px) { 
	.loginContainer #BSNLogo{
		max-width: 480px;
		max-height: auto;
	}
}


.loginContainer #anim{
	text-align:center;
}

/* Small devices (tablets)
@media (min-width: 768px) { 

}

Medium devices (desktops)
@media (min-width: 992px) {
	
}

Large devices (large desktops)
@media (min-width: 1200px) {
	
}
*/