.thanksContainer {
  color: white;
  font-style: OpenSans;
  text-align: center;
}

.thanksContainer .thanksText {
  margin-top: 50px;
  margin-bottom: 20px;
  
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
   
  margin-left:auto;
  margin-right:auto;
   
  border: solid #005f5f 2px;
  font-family:"OpenSans";
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  
  line-height: 25px;
  font-size: 18px;
}

.thanksContainer button {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  border: solid #005f5f 2px; 
 }

.thanksContainer .ftr img{
	padding-top:10px;
  width: 200px;
  height: auto;
  text-align: center;
}

  @media (min-width: 520px) { 
  	.thanksContainer .thanksText{
  		max-width: 500px;
  		max-height: auto;
  	}
  }