
.thxCheckContainer {
  color: white;
  text-align: center;
}

.thxCheckContainer button {
  text-align: center;
  font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
  border: solid #005f5f 3px;
  font-weight:bolder;
}

.thxCheckContainer img{
  margin-top: 50px;
}

@media (min-width: 500px) { 
	.thxCheckContainer img{
		max-width: 475px;
		max-height: auto;
	}
}