.signupContainer input {
	padding-top:12px;
	padding-bottom:12px;
}
.signupContainer {
  color: #ffffff;
}

.signupContainer .formContainer{
   background-image: url(/img/lg/signupbackgroundLG.png);
   background-repeat: no-repeat;
   background-position: center;
   padding-top: 130px;
   padding-bottom: 125px;
}

.signupContainer #signup-cellphone{
	color:black;
}

.signupContainer #signup-carrier{
	color:black;
}


.signupContainer button {
  font-family: OpenSans;
  color: #fff;
  font-size: 15px;
  background: transparent;
  padding: 10px 20px 10px 20px;
  border: solid #005f5f 2px;
  display: inline-block;
  position: relative;
  font-weight:bolder;
  margin-right: 10px;
  margin-left: 10px;
}

.signupContainer p{
  font-family: OpenSans;
  color: #fff;
  font-size: 10px;
}


.signupContainer .invalid{
  border: 2px solid red;
}


.signupContainer h6{
   color: red;
}
/*TEST PUSH*/
