.signupContainer input {
	padding-top:12px;
	padding-bottom:12px;
}
.signupContainer {
  color: #ffffff;
}

.signupContainer .formContainer{
   padding-top: 50px;
}

.signupContainer #signup-cellphone1 #signup-cellphone2{
	width: 100px;
	color:black;
}

.signupContainer #signup-cellphone3{
	width: 200px;
	color: black;
}

.signupContainer #signup-carrier{
	color:black;
}

.signupContainer button {
  font-family: OpenSans;
  color: #fff;
  font-size: 15px;
  background: black;
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  display: inline-block;
  position: relative;
  font-weight:bolder;
  margin-right: 10px;
  margin-left: 10px;
}

.signupContainer p{
  font-family: OpenSans;
  color: #fff;
  font-size: 10px;
}


.signupContainer .invalid{
  border: 2px solid red;
}


.signupContainer h6{
   color: red;
   visibility: hidden;
}

