@font-face {
    font-family: "Olivier";
    src: url('/fonts/olivier_demo.ttf') format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url('/fonts/OpenSans-Light.ttf') format("truetype");
}


header {
  font-family: "Olivier";
  text-shadow: 2px 2px #202020;
  font-size: 200%;
}

h1 {
	font-family: "Olivier";
	text-shadow: 2px 2px #202020;
	font-size: 50px;
	color: #fff;
}

  
.button-check {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  line-height: 18px;
  padding: 0 20px;
  font-family: inherit;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: red;
  border: 1px solid;
  border-color: black;
  border-radius: 25px;
  
  position: relative;
  width: 20px;
  padding: 0;
}


#bground {
	position:fixed; 
	top:-50%; 
	left:-50%;
	width:200%; 
	height:200%;
	z-index: -1;
}
#bground img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.cntr { text-align: center; }

