
.checkoutContainer {
  background-image: url(/img/lg/loginLG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-weight: 500; 
  
 /* overflow: hidden; */
    position:absolute;
    height:100vh;
    width:100vw;
    top:0px;
    left:0px;
  
  text-align: center;
}

.checkoutContainer h1{
  padding: 30px;
}


.checkoutContainer .cout .line{
  background: url(/img/checkMiddle.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: .75px;
}

.checkoutContainer .cout .line .rmBtn{
   position: absolute;
  display: inline;

}

.checkoutContainer .cout .line .rmBtn .moveBtn{
   position: relative;
   right: 160px;
}

.checkoutContainer .cout .line .itemz{
   position: absolute;    
  display: inline;
}

.checkoutContainer .cout .line .itemz .moveItem{
   position: relative;
  right: 120px;
  min-width: 200px;
  text-align: left; 
}

.checkoutContainer .cout .line .price{
  position: absolute;    
  display: inline;
}

.checkoutContainer .cout .line .price .movePrice{
  position: relative; 
  left: 100px; 
}





.checkoutContainer .cout .goButton{
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 20px;
  padding: 10px 80px 10px 80px;
  border: solid #005f5f 2px;
  font-weight:bolder;
}

.checkoutContainer .cout .placeOrderBTN{
  font-family: OpenSans;
  color: white;
  font-size: 15px;
  background: #bf7148;
  margin: 20px;
  padding: 10px 60px 10px 66px;
  border: solid white 2px;
  font-weight:bolder;
}

.checkoutContainer .cout .backBTN{
  font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin: 20px;
  padding: 10px 100px 10px 75px;
  border: solid #005f5f 3px;
  font-weight:bolder;
}

.checkoutContainer .miniText button{
    font-family: OpenSans;
    color: #ffffff;
    font-size: 25px;
    background: black;
    margin: 25px;
    padding: 15px 35px 15px 35px;
    border: solid black 3.5px;
    font-weight:bolder;
	cursor: default;
}

.checkoutContainer .cout .bevBTN{
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 20px;
  padding: 10px 70px 10px 70px;
  border: solid #005f5f 2px;
  font-weight:bolder;
}



.checkoutContainer .nav .Logout button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #005f5f;
  padding: 2px 15px 2px 15px;
  text-decoration: none;
}

.checkoutContainer .nav .logout:hover {
  background: #1ca8a8;
  text-decoration: none;
}