
.checkoutContainer {
  color: black;
  font-weight: 500; 
  text-align: center;
  
  
}

.checkoutContainer h1{
  padding-bottom: 10px;
}


.checkoutContainer #notif {
  visibility:hidden;
  margin-top: -10px;
}

/* These 5 css tags control the location*/
.checkoutContainer .button-check {
  display: inline-block;
  vertical-align: top;
  height: 14px;
  width: 14px;
  line-height: 12px;
  font-family: inherit;
  font-size: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: red;
  border: 1px solid;
  border-color: black;
  border-radius: 20px;
  position: relative;
  padding: 0;
  top: 3px;
  left:4px;
}

.checkoutContainer .cout .totalPrice .price{
	position: relative;
	left: 84px; 
	top: -77px;
	font-size: 12px;
	
	display: inline-block;
	
}

.checkoutContainer .cout .line .price .movePrice{
  position: relative; 
  left: 68px; 
  z-index: 1;
  top: -19px;
  font-size: 12px;
  
}

.checkoutContainer .cout .line .rmBtn .moveBtn{
   position: relative;
   right: 120px;
   
}

.checkoutContainer .cout .line .itemz .moveItem{
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-align: left; 
  right: -12px; 
  font-size: 12px;
  top: -1px;
  
}


.pseudoCheckContainer .cout .comm{
    background: none;
    margin-bottom: 15px;
    font-weight:bolder;
	display: inline-block;
	cursor: default;
}


.pseudoCheckContainer .cout .comm #label{
    font-family: OpenSans;
    color: #ffffff;
    font-size: 15px;
}


.checkoutContainer .cout .line{
  background: url(/img/checkMiddle3.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 0px;
  margin: -5px; /* This deals with the spacing b/t lines */
}

.checkoutContainer #less{
	margin:-3px;
}

.checkoutContainer .cout .line .itemz .mixins{
  position: relative;
  min-width: 200px;
  display: inline-block;
  text-align: left; 
  left: 12px;
  font-size: 12px;
}




.checkoutContainer .cout .line .rmBtn{
  position: absolute;
  display: inline;
}

.checkoutContainer .cout .line .rmBtn{
    cursor:url('/img/middle-finger.cur'), pointer;
}
.checkoutContainer .cout .line .rmBtn .moveBtn{
    cursor:url('/img/middle-finger.cur'), pointer;
}

.checkoutContainer .cout .line .rmBtn .moveBtn .button-check{
    cursor:url('/img/middle-finger.cur'), pointer;
}



.checkoutContainer .cout .line .price{
   position: absolute;    
   display: inline;
}



.checkoutContainer .cout .placeOrderBTN{
  font-family: OpenSans;
  color: white;
  font-size: 15px;
  background: #bf7148;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 60px 10px 66px;
  border: solid white 2px;
  font-weight:bolder;
}

.checkoutContainer .cout .backBTN{
  font-family: OpenSans;
  color: #005f5f;
  font-size: 15px;
  background: white;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px 100px 10px 75px;
  border: solid #005f5f 3px;
  font-weight:bolder;
}


@media (min-width: 300px) { 
	.checkoutContainer #notif{
		max-width: 240px;
		max-height: auto;
	}
}


@media (min-width: 375px) { 
	.checkoutContainer .cout .line{
	  background: url(/img/checkMiddle3.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  position: relative;
	  right: 2px;
	  margin: -5px; /* This deals with the spacing b/t lines */
	}
}


