.menuContainer .main button {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 10px;
  padding: 10px 50px 10px 50px;
  border: solid white 2px;
  font-weight:bolder;
}

.menuContainer #mainMenu{
	margin-top: 5px;
}

.menuContainer #bagelBTN {
  padding: 10px 64px 10px 64px; /*14 greater*/
}

.menuContainer #snackBTN {
  padding: 10px 63px 10px 63px; /*13 greater*/
}

.menuContainer .cart img {
  width: 30px;
  height: 30px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.menuContainer #cout{
  font-size: 35px;
  background: #bf7148;
  padding: 12px 60px 7px 60px;  
  font-family: Olivier;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
  color: white;
  border-color: white;
  border: solid white 2px;
  margin-top:12px;
}


.menuContainer #notif{
   display: none;
}

@media (min-width: 300px) { 
	.menuContainer #notif{
		max-width: 240px;
		max-height: auto;
	}
}
