.menuContainer .nav .Logout button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 90px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #005f5f;
  padding: 2px 15px 2px 15px;
  text-decoration: none;
}

.menuContainer h1{
	font-family: "Olivier";
	text-shadow: 2px 2px #202020;
	font-size: 50px;
	color: #fff;

}

.menuContainer .middle{
	text-align: center;
}

.menuContainer nav{
	text-align:center;
}

.menuContainer .nav .logout:hover {
  background: #1ca8a8;
  text-decoration: none;
}

.menuContainer .middle button {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  background: #005f5f;
  margin: 10px;
  padding: 10px 50px 10px 50px;
  border: solid white 2px;
  font-weight:bolder;
}

.menuContainer .middle #bagelBTN {
  padding: 10px 64px 10px 64px; /*14 greater*/
}

.menuContainer .middle #snackBTN {
  padding: 10px 63px 10px 63px; /*13 greater*/
}

.menuContainer .cart img {
  width: 30px;
  height: 30px;
  padding-bottom: 40px;
  padding-top: 30px;
  
}

.menuContainer .middle #cout{
  font-size: 35px;
  background: #bf7148;
  padding: 20px 100px 20px 100px;  
  font-family: Olivier;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}


.menuContainer .middle .notif img{
  display: none;
   
  width:25%;
  height: 25%;
  
}
