
.employeeContainer {
  background-color: black;
  color: white; 
  
  background-size: cover;
  background-repeat: no-repeat;

  /*overflow: hidden;*/
    position:absolute;
    height:100vh;
    width:100vw;
    top:0px;
    left:0px;
}

.employeeContainer .nav button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  background: #571372;
  padding: 20px 25px 20px 25px;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 20px;
}

.employeeContainer h1{
   padding-top: 30px;
   text-shadow: 4px 4px #8319A0;
   font-size: 80px;
   color: #fff;
    float: center;
    padding-right: 150px;

}


.employeeContainer td{
	text-align: center;
	vertical-align: center;
	width: 200px; 
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	border: 5px solid #651689;
}

.employeeContainer th{
	width: 200px; 
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	border: 5px solid #651689;
}

.employeeContainer .delete button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 40px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  background: red;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}

.employeeContainer .done button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 40px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  background: #007C7A;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}

