
.orderListContainer {
  background-color: black;
  color: white; 
  
  background-size: cover;
  background-repeat: no-repeat;

  /*overflow: hidden;*/
    position:absolute;
    height:100vh;
    width:100vw;
    top:0px;
    left:0px;
}

.orderListContainer .nav button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  background: #005f5f;
  padding: 20px 25px 20px 25px;
  text-decoration: none;
    margin-top: 25px;
  margin-right: 20px;
}

.orderListContainer h1{
   padding-top: 30px;
   text-shadow: 4px 4px #005f5f;
   font-size: 80px;
   color: #fff;
    float: center;
    padding-right: 150px;

}

.orderListContainer td{
  white-space: pre; 
}

.orderListContainer th{
	width: 200px; 
	height: 80px;
	font-size: 25px;
	border: 5px solid #005f5f;
}