
.orderListContainer {
  color: white; 
}

.orderListContainer button{
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 100px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #005f5f;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
    margin-top: 10px;
	margin-bottom: 10px;
  margin-right: 20px;
  float:right;
}

.orderListContainer h1{
   padding-top: 30px;
   text-shadow: 4px 4px #005f5f;
   font-size: 80px;
   color: #fff;
    float: right;
    padding-right: 150px;
	
}

.orderListContainer td{
  white-space: pre; 
}

.orderListContainer th{
	width: 350px; 
	height: 80px;
	font-size: 25px;
	border: 5px solid #005f5f;
	text-align: center;
}